
p {
  font-family: Arial;
}

h1 {
  color: maroon;
}

.title {
  color: yellow;
}


.stitle {

  color: green;

}

.uppercase {
  text-transform: uppercase;
}
.publish-time {
  color: gray;
}

.cursive {
  font-family: cursive;
}

.capitalize {
  text-transform: capitalize;
}
